<header aria-label="Cabecera principal">
    <div class="navbar container">
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/logo_1.png" alt="OPV Drywall - Instalación y Acabado Profesional">
            </a>
        </div>

        <nav aria-label="Menú principal">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/html/nuestrosProgramas.html">Nuestros Programas</a></li>
                <li><a href="/html/acercaDe.html">Acerca de nosotros</a></li>
                <li><a href="/html/porqueOpv.html">Por qué OPV Drywall</a></li>
                <li><a href="/html/galeria.html">Galería</a></li>
                <li><a href="/html/testimonios.html">Testimonios</a></li>
                <li><a href="/html/formRegistro.html">Registro</a></li>
                <li><a href="/html/preguntasFrecuentes.html">Preguntas frecuentes</a></li>
                <li><a href="/html/terminosYcondiciones.html">Términos y Condiciones</a></li>
                <li><a href="/html/contactenos.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>